* {
    padding: 0px;
    margin: 0px;
}


:root {
    --ralewayFont: "Raleway", sans-serif;
    --interFont: "Inter", sans-serif;
    --themeColor: #1DD100;
    --textColor: #030712cd;
}


header {
    padding: 40px 100px 20px 100px;
}


/*Navigation*/

#nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ralewayFont);
    color: var(--textColor);
}

#nav_container h1 {
    font-size: 35px;
    font-weight: 800;
}

#nav_mid {
    display: flex;
    font-weight: 600;
}

#nav_mid div {
    padding: 0px 30px;
}

#nav_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #1DD1001A;
    border: 1px solid var(--themeColor);
    color: var(--themeColor);
    font-weight: 700;
    font-size: 19px;
    padding: 15px 30px;
}

#nav_btn p {
    padding-right: 5px;
}

#nav_btn img {
    padding-left: 5px;
}


.main_container {
    background-color: lightcoral;
    height: 200px;
}